body {
  background-color: #928a97;
}
/* .test {
  border: 1px solid #000;
  margin: 2px;
  padding: 2px;
} */
#left-sidebar {
  width: 30%;
  float: left;
}

#content {
  padding-left: 30%;
}
#content div {
  border-color: red;
}
.page-block {
  display: none;
  color: white;
  background-color: gray;
  padding: 10px;
  margin: 10px;
  border: 0.1px solid;
  box-shadow: 0 0 0 1px #334455;
  border-radius: 2px;
}
table {
  background-color: rgba(148, 150, 143, 0.692);
  border-color: white;
  -webkit-text-fill-color: white;
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: white;
}
p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: white;
}

#top-menu-bar {
  text-align: center;
  color: #fff;
  background-color: #334455;
}
#top-menu-bar li {
  display: inline;
  margin: 0;
  padding: 0;
}

#top-menu-bar a {
  text-decoration: none;
  padding: 5px 15px 5px 15px;
  margin: 2px 0 2px 0;
  color: #ffffff;
  display: inline-block;
}
#top-menu-bar a:visited {
  color: #fff;
}
#top-menu-bar a:hover {
  color: #334455;
  background-color: #ffffff;
}
h2 {
  color: white;
}
label {
  color: white;
}
#picture {
  border-radius: 50%;
}

#footer {
  clear: both;
}
